#/scratch/cenapadrjsd/diego.carvalho/bio/data_results/n15.gamma0.30.20.2_n300
/scratch/cenapadrjsd/diego.carvalho/bio/data_results/baseline.gamma0.3_n30
/scratch/cenapadrjsd/diego.carvalho/bio/data_results/n6.gamma0.30.2_n300
/scratch/cenapadrjsd/diego.carvalho/bio/data_results/baseline.gamma0.3_n1000
/scratch/cenapadrjsd/diego.carvalho/bio/data_results/baseline.gamma0.3_n100
/scratch/cenapadrjsd/diego.carvalho/bio/data_results/baseline.gamma0.3_n300
