#/scratch/pcmrnbio2/rafael.terra/WF_parsl/data/baseline.gamma0.3_n30
#/scratch/pcmrnbio2/rafael.terra/WF_parsl/data/Denv_1@ML_IQTREE|MPL
/scratch/pcmrnbio2/rafael.terra/WF_parsl/data/Denv_2@ML_RAXML|MPL
#/scratch/pcmrnbio2/rafael.terra/WF_parsl/data/Denv_3@BI_MRBAYES|MPL
#/scratch/pcmrnbio2/rafael.terra/WF_parsl/data/Denv_4
