/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_1@IQTREE|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_1@MRBAYES|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_2@ML_RAXML|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_2@BI_MRBAYES|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_3@ML_RAXML|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_3@BI_MRBAYES|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_4@ML_RAXML|MPL
#/mnt/c/Users/rafae/Documents/GitHub/biocomp/Input_Workflow/Denv_4@BI_MRBAYES|MPL